/* CSS para garantir que o corpo ocupe 100% da altura da tela */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #696969;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}

button {
    background-color: #696969 !important;
}

h5.border-bottom {
    border-color: #e0e0e0 !important;
}

.cor-card {
    background-color: #d9d9d91c;
}